# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [5]:
df_drinks = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv")
df_drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [25]:
df_continent_drinks = round(df_drinks.groupby(by="continent").mean(),1)
df_continent_drinks

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.5,16.3,16.3,3.0
AS,37.0,60.8,9.1,2.2
EU,193.8,132.6,142.2,8.6
OC,89.7,58.4,35.6,3.4
SA,175.1,114.8,62.4,6.3

In [28]:
df_continent_drinks.beer_servings.nlargest(n=1)

continent
EU    193.8
Name: beer_servings, dtype: float64

In [29]:
round(df_drinks.groupby(by="continent").mean(),1).beer_servings.nlargest(n=1)

continent
EU    193.8
Name: beer_servings, dtype: float64

round(df_drinks.groupby(by="continent").mean()[beer_servings].nlargest(n=1),1)   # [beer_servings] por qu√© no funciona asi

### Step 5. For each continent print the statistics for wine consumption.

In [50]:
round(df_continent_drinks.wine_servings)

continent
AF     16.0
AS      9.0
EU    142.0
OC     36.0
SA     62.0
Name: wine_servings, dtype: float64

In [157]:
mi_lista_continetes =list(set(df_drinks.continent))
del mi_lista_continetes[0]
mi_lista_continetes

['EU', 'AS', 'AF', 'OC', 'SA']

In [156]:
####  groupby casero 

for i in mi_lista_continetes:
    df_wine_Estd = pd.DataFrame(round(df_drinks.loc[df_drinks.continent == i, ('country','wine_servings')].describe()).rename(columns={"wine_servings": "wine" + " "+ i}))
    print(df_wine_Estd)

       wine EU
count     45.0
mean     142.0
std       97.0
min        0.0
25%       59.0
50%      128.0
75%      195.0
max      370.0
       wine AS
count     44.0
mean       9.0
std       22.0
min        0.0
25%        0.0
50%        1.0
75%        8.0
max      123.0
       wine AF
count     53.0
mean      16.0
std       39.0
min        0.0
25%        1.0
50%        2.0
75%       13.0
max      233.0
       wine OC
count     16.0
mean      36.0
std       65.0
min        0.0
25%        1.0
50%        8.0
75%       23.0
max      212.0
       wine SA
count     12.0
mean      62.0
std       89.0
min        1.0
25%        3.0
50%       12.0
75%       98.0
max      221.0

In [114]:
for i in mi_lista_continetes:
    print(round(df_drinks.loc[df_drinks.continent == i, ('country','wine_servings')].describe()).rename(columns={"wine_servings": "wine"+" "+i}))

       wine EU
count     45.0
mean     142.0
std       97.0
min        0.0
25%       59.0
50%      128.0
75%      195.0
max      370.0
       wine AS
count     44.0
mean       9.0
std       22.0
min        0.0
25%        0.0
50%        1.0
75%        8.0
max      123.0
       wine AF
count     53.0
mean      16.0
std       39.0
min        0.0
25%        1.0
50%        2.0
75%       13.0
max      233.0
       wine OC
count     16.0
mean      36.0
std       65.0
min        0.0
25%        1.0
50%        8.0
75%       23.0
max      212.0
       wine SA
count     12.0
mean      62.0
std       89.0
min        1.0
25%        3.0
50%       12.0
75%       98.0
max      221.0

for i in mi_lista_continetes:
    print(round(df_drinks.loc[df_drinks.continent == i, ('country','wine_servings')].describe()))  # Parte del proceso

In [186]:
# Miro la Soluci√≥n 
df_drinks.groupby('continent').wine_servings.describe()

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [281]:
round(df_drinks.groupby("continent").mean())

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.0,16.0,16.0,3.0
AS,37.0,61.0,9.0,2.0
EU,194.0,133.0,142.0,9.0
OC,90.0,58.0,36.0,3.0
SA,175.0,115.0,62.0,6.0

### Step 7. Print the median alcohol consumption per continent for every column

In [201]:
round(df_drinks.groupby("continent").total_litres_of_pure_alcohol.median())

continent
AF     2.0
AS     1.0
EU    10.0
OC     2.0
SA     7.0
Name: total_litres_of_pure_alcohol, dtype: float64

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [265]:
round(df_drinks.spirit_servings.mean())

81

In [266]:
df_drinks.spirit_servings.max()

438

In [267]:
df_drinks.spirit_servings.min()

0

In [243]:
def media_min_max(c):
    return[round(c.mean()), c.min(),c.max()]

In [244]:
media_min_max(df_drinks.spirit_servings)

[81, 0, 438]

In [247]:
def media_min_max(c):
    return {"media":round(c.mean()),
            "min":c.min(),
            "max": c.max()}

In [270]:
media_min_max(df_drinks.spirit_servings)

{'media': 81, 'min': 0, 'max': 438}

In [271]:

pd.DataFrame(data=media_min_max(df_drinks.spirit_servings),index=dic_media.keys(), columns=dic_media.values())

       81   0    438
media  NaN  NaN  NaN
min    NaN  NaN  NaN
max    NaN  NaN  NaN

In [275]:
media_min_max(df_drinks.spirit_servings)

{'media': 81, 'min': 0, 'max': 438}

In [258]:
###¬† 
pd.DataFrame(data= dic_media,index=dic_media.keys())  #¬†increible jajaja.. naaaa

       media  min  max
media     81    0  438
min       81    0  438
max       81    0  438

In [283]:
 #¬†Mirando
    
df_drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

                 mean  min  max
continent
AF          16.339623    0  152
AS          60.840909    0  326
EU         132.555556    0  373
OC          58.437500    0  254
SA         114.750000   25  302

In [290]:
df_drinks.groupby('continent').agg(['mean', 'min', 'max'])

/var/folders/g9/h8k3ykx13hg0mqmfvkg50btm0000gn/T/ipykernel_66439/1388564046.py:1: FutureWarning: ['country'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df_drinks.groupby('continent').agg(['mean', 'min', 'max'])

          beer_servings          spirit_servings          wine_servings      \
                   mean min  max            mean min  max          mean min
continent
AF            61.471698   0  376       16.339623   0  152     16.264151   0
AS            37.045455   0  247       60.840909   0  326      9.068182   0
EU           193.777778   0  361      132.555556   0  373    142.222222   0
OC            89.687500   0  306       58.437500   0  254     35.625000   0
SA           175.083333  93  333      114.750000  25  302     62.416667   1

               total_litres_of_pure_alcohol
           max                         mean  min   max
continent
AF         233                     3.007547  0.0   9.1
AS         123                     2.170455  0.0  11.5
EU         370                     8.617778  0.0  14.4
OC         212                     3.381250  0.0  10.4
SA         221                     6.308333  3.8   8.3

In [291]:
df_drinks.agg(['mean', 'min', 'max'])

/var/folders/g9/h8k3ykx13hg0mqmfvkg50btm0000gn/T/ipykernel_66439/1718728156.py:1: FutureWarning: ['country', 'continent'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df_drinks.agg(['mean', 'min', 'max'])

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
mean,NaN,106.160622,80.994819,49.450777,4.717098
min,Afghanistan,0.000000,0.000000,0.000000,0.000000
max,Zimbabwe,376.000000,438.000000,370.000000,14.400000