# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. See the first 10 entries

In [4]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [5]:
# Solution 1

df.shape[0]

4622

In [6]:
# Solution 2

### Step 6. What is the number of columns in the dataset?

In [7]:
df.shape[1]

5

### Step 7. Print the name of all the columns.

In [8]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
df = df.set_index(keys="order_id")

In [10]:
df.index

Int64Index([   1,    1,    1,    1,    2,    3,    3,    4,    4,    5,
            ...
            1831, 1831, 1831, 1832, 1832, 1833, 1833, 1834, 1834, 1834],
           dtype='int64', name='order_id', length=4622)

### Step 9. Which was the most-ordered item?

In [11]:
df.item_name.value_counts().nlargest(n=1) # No sé cómo imprimir el resultado solo de chichken bowl

# Creo que lo conseguí

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [12]:
df.item_name.value_counts().nlargest(n=1) # NI idea, no sé si multiplicar q

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [13]:
df.choice_description.value_counts().nlargest(n=1)

[Diet Coke]    134
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [14]:
len(df.item_name.value_counts())

50

In [15]:
len(df.groupby(by="item_name"))

50

In [16]:
len(df.item_name.unique())

50

In [17]:
len(set(df.item_name))

50

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [18]:
type(df.item_price)

pandas.core.series.Series

In [19]:
df.dtypes

quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

In [20]:
df.dtypes[3]

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [21]:
quitar_dolar = lambda x: float(x.replace("$"," "))

In [22]:
#funciona???
quitar_dolar("2.8$")

2.8

#### Step 13.c. Check the item price type

In [23]:
df.item_price.map(quitar_dolar)

order_id
1        2.39
1        3.39
1        3.39
1        2.39
2       16.98
        ...
1833    11.75
1833    11.75
1834    11.25
1834     8.75
1834     8.75
Name: item_price, Length: 4622, dtype: float64

In [24]:
df["item_price_float"] = df.item_price.map(quitar_dolar)

In [25]:
df.head()

,quantity,item_name,choice_description,item_price,item_price_float
order_id,,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,Izze,[Clementine],$3.39,3.39
1,1,Nantucket Nectar,[Apple],$3.39,3.39
1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [26]:
df["pxq"] = df.quantity*df.item_price_float
df.iloc[3:5,4:6]

          item_price_float    pxq
order_id
1                     2.39   2.39
2                    16.98  33.96

### Step 14. How much was the revenue for the period in the dataset?

In [27]:
revenue = round(df.pxq.sum())
revenue

39237

In [28]:
poner_dolar = lambda x: print(str(x)+" $") # quiero meter el dolar de nuevo
poner_dolar(round(df.pxq.sum()))

39237 $

### Step 15. How many orders were made in the period?

In [29]:
df.shape[0]

4622

### Step 16. What is the average revenue amount per order?

In [30]:
# Solution 1

# si entiendo que el nº de "order_id" se refiere a una orden en contreto:

df.groupby(by="order_id").size() # agrupamos los pedidos y a través de len vamos a contar la longitud de la serie

order_id
1       4
2       1
3       2
4       2
5       2
       ..
1830    2
1831    3
1832    2
1833    2
1834    3
Length: 1834, dtype: int64

In [31]:
n_pedidos = len(df.groupby(by="order_id").size())
n_pedidos

1834

In [32]:
poner_dolar(round(revenue/n_pedidos, ndigits=1))

21.4 $

In [33]:
# Solution 2 
poner_dolar(round(revenue/df.shape[0], ndigits=1))

8.5 $

### Step 17. How many different items are sold?

In [34]:
len(df.item_name.value_counts())

50

In [35]:
df.item_price_float >10

order_id
1       False
1       False
1       False
1       False
2        True
        ...
1833     True
1833     True
1834     True
1834    False
1834    False
Name: item_price_float, Length: 4622, dtype: bool

In [36]:
df.item_name =="Chicken Bowl"

order_id
1       False
1       False
1       False
1       False
2        True
        ...
1833    False
1833    False
1834    False
1834    False
1834    False
Name: item_name, Length: 4622, dtype: bool

In [37]:
#.loc[:,"item_name": "choice_description"]
df.head(2)

,quantity,item_name,choice_description,item_price,item_price_float,pxq
order_id,,,,,,
1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39,2.39
1,1,Izze,[Clementine],$3.39,3.39,3.39

In [39]:
df.loc[df.item_price_float >16, "item_name":"pxq" ] # Como poner dos condiciones

,item_name,choice_description,item_price,item_price_float,pxq
order_id,,,,,
2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98,33.96
60,Chicken Salad Bowl,"[Tomatillo Green Chili Salsa, [Sour Cream, Che...",$22.50,22.50,45.00
67,Steak Burrito,"[Tomatillo-Red Chili Salsa (Hot), [Rice, Chees...",$17.98,17.98,35.96
68,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$17.50,17.50,35.00
70,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$17.50,17.50,35.00
...,...,...,...,...,...
1764,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",$22.50,22.50,45.00
1764,Steak Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Sour ...",$23.50,23.50,47.00
1767,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",$17.50,17.50,35.00
1786,Chips and Guacamole,NaN,$17.80,17.80,71.20
1813,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$17.50,17.50,35.00