# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [132]:
import pandas as pd
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

pd.read_csv(url, sep="\t")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [133]:
chipo = pd.read_csv(url, sep="\t") # duda

### Step 4. How many products cost more than $10.00?

In [134]:
quitar = lambda x: float(x.replace("$",""))

In [135]:
chipo["item_price_float"] = chipo.item_price.map(quitar)  # está hecho con un map pero podemos ver otras fromas
 
len(chipo.loc[chipo.item_price_float > 10,:])

1130

# vamos a intentarlo de otra forma en lugar de usar map


chipo.loc[chipo.item_price] = chipo.item_price.replace("$","")


# chipo.loc[chipo.item_price_float >10] = "grande"
chipo

In [136]:
chipo.item_price = chipo.item_price_float
chipo = chipo.drop(labels="item_price_float", axis=1)
chipo.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [137]:
chipo.loc[:,["item_name","item_price"]] # resuelto mirando la ayuda de Jupyter

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [138]:
chipo.item_name.sort_values()

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
              ...
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object

In [139]:
d = {'col1': ["zz", "a"], 'col2': ["zzz", "cc"]}  # df prueba para comprobar que sort_values()
df_prueba=pd.DataFrame(data= d)
df_prueba

  col1 col2
0   zz  zzz
1    a   cc

In [140]:
df_prueba.sort_values(by="col1") # confirmado

  col1 col2
1    a   cc
0   zz  zzz

### Step 7. What was the quantity of the most expensive item ordered?

In [154]:
chipo.item_price.nlargest(n=1)

3598    44.25
Name: item_price, dtype: float64

In [157]:
chipo.item_price.max()

44.25

In [165]:
chipo.loc[chipo.item_price == 44.25,['quantity','item_price']]

      quantity  item_price
3598        15       44.25

In [171]:
chipo.loc[chipo.item_price==44.25,['quantity','item_price']]

      quantity  item_price
3598        15       44.25

In [176]:
chipo.loc[chipo.item_price==chipo.item_price.max(),['quantity','item_price']]

      quantity  item_price
3598        15       44.25

chipo.loc[chipo.item_price==chipo.item_price.nlargest(n=1),['quantity','item_price']]  # duda

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [188]:
chipo.loc[chipo.item_name == "Veggie Salad Bowl"].sample(3)

,order_id,quantity,item_name,choice_description,item_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [190]:
len(chipo.loc[chipo.item_name == "Veggie Salad Bowl"])

18

In [203]:
pd.DataFrame(chipo.groupby(by="item_name").size()).loc["Veggie Salad Bowl"]

0    18
Name: Veggie Salad Bowl, dtype: int64

### Step 9. How many times did someone order more than one Canned Soda?

In [216]:
chipo.loc[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)] # al final lo encontré

      order_id  quantity    item_name choice_description  item_price
18           9         2  Canned Soda           [Sprite]        2.18
51          23         2  Canned Soda     [Mountain Dew]        2.18
162         73         2  Canned Soda        [Diet Coke]        2.18
171         76         2  Canned Soda  [Diet Dr. Pepper]        2.18
350        150         2  Canned Soda        [Diet Coke]        2.18
352        151         2  Canned Soda        [Coca Cola]        2.18
698        287         2  Canned Soda        [Coca Cola]        2.18
700        288         2  Canned Soda        [Coca Cola]        2.18
909        376         2  Canned Soda     [Mountain Dew]        2.18
1091       450         2  Canned Soda       [Dr. Pepper]        2.18
1092       450         2  Canned Soda        [Coca Cola]        2.18
1944       787         2  Canned Soda       [Dr. Pepper]        2.18
2135       859         2  Canned Soda        [Diet Coke]        2.18
2235       901         4  Canned Soda           [Sprite]        4.36
2905      1156         2  Canned Soda        [Coca Cola]        2.18
2906      1156         2  Canned Soda           [Sprite]        2.18
3152      1258         2  Canned Soda       [Dr. Pepper]        2.18
3364      1349         2  Canned Soda        [Coca Cola]        2.18
3592      1440         2  Canned Soda        [Diet Coke]        2.18
3866      1550         2  Canned Soda     [Mountain Dew]        2.18

In [217]:
len(chipo.loc[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]) # solución

20

In [221]:
chipo.loc[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)].shape[0]

20